@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Khand:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer utilities {
  input[type="file"]::file-selector-button {
    border: 0;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #205adc;
    color: black;
    transition: 1s;
  }
}
